@using Vueling.Web.UI.Library.Helpers
@using Vueling.XXX.WebUI.Helpers
@model Vueling.XXX.WebUI.Models.IndexViewModel

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Parameters</h2>

@using (Html.BeginFormPost(new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend></legend>

        <div class="form-group">
            <label for="flightIdentifier" class="col-sm-2 control-label"> Flight Identifier </label>
            <div class="col-sm-3">
                @Html.TextBox("flighIdentifier", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="departureTimeString" class="col-sm-2 control-label"> Departure Time String </label>
            <div class="col-sm-3">
                @Html.TextBox("departureTimeString", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="row" class="col-sm-2 control-label"> Row </label>
            <div class="col-sm-3">
                @Html.TextBox("row", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="column" class="col-sm-2 control-label"> Column </label>
            <div class="col-sm-3">
                @Html.TextBox("column", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-vueling">Submit</button>
                <br>
                <small>
                    @Html.LabelFor(model => model.Message, new { id = Model.LabelId })
                    Index submit any integer value.
                </small>
            </div>
        </div>

    </fieldset>
    
}


    
